###################
### ENV EXAMPLE ###
###################

### BASICS
ENV=development
PORT=8080
LOGGER_LEVEL='debug'
APPLICATIONS='express'

### DATABASE
DATABASE_URL=<mysql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>>

### MAILER
MAILER_USER=<Your user email>
MAILER_PASS_TOKEN=<Your user pass token>
MAILER_ALERT_USER=<Your alert user email>

### MISTRAL
MISTRAL_AI_API_KEY=<Your mistral API token>


###AZURE

AZURE_TENANT_ID=Azure_tenantId
AZURE_CLIENT_ID=Azure_clientId
AZURE_CLIENT_SECRET=Azure_Client_secret

###WHOISJSON

WHOIS_API_KEY=YourApiKey